/* share style section start */
*{
    margin: 0 ;
    padding: 0;
    /* font-family: 'Inter', 'sans-serif'; */
    background-color: #FFF;
 


}
.btn-primary{
    font-size:1rem ;
    font-weight: 700;
    color: #FFF;
    background-color:#E02C6D ;
    padding: 10px 24px;
    border: none;
    border-radius:41px ;
}
/* header style section start */
header{
    max-width: 100%;
    font-family: 'Poppins', 'sans-serif';
    margin: 90px 120px;
    
}
nav{ 
    display: flex;
    justify-content: space-between; 
    
}
nav h3{
    font-size:1.52rem ;
    color:#3A3A3A ;
    font-weight: 700;
}
nav > ul{
    display: flex;
    gap: 2.15rem;
    list-style: none;
    color:#3A3A3A ;
    font-size:1rem ;
    font-weight:600 ;
    font-size: 1.25rem;
}
nav ul a{
    text-decoration: none;
}
/* banner section style start */
.banner{
    display: flex;
    justify-content: space-between;
    margin-top: 150px;
    gap: 250px;
   
}

.banner .banner-content h1{
    max-width: 582px;
    font-size:3.25rem ;
    color:#3A3A3A ;
    font-weight:700 ;
    line-height: 70px
}

.banner .banner-content p{
    font-size:1rem ;
    color:#3A3A3A ;
    font-weight:600 ;
    margin: 16px 0px;
}
.banner .banner-images{  
    background-image: url('../images/Circle-design.svg');
    width: 520px;
    height: 520px;
   background-repeat: no-repeat;
   margin-top: 0px;
   
}
.banner .banner-images img{
    padding: 30px 33px 31px 2px;
    background: none;

}

/* header style section end */





/* Responsive style section */
@media screen and (max-width:576px) {
    
}